<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Han</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
		<key>New item - 4</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
	</dict>
	<key>Zang</key>
	<dict>
		<key>NewsHomeTitle</key>
		<string>ཏང་ཡོན་གྱི་གསར་འགྱུར</string>
		<key>TextInputTitle</key>
		<string>ཤུལ་དུ་ཁྱོད་ཀྱི་བསམ་ཚུལ</string>
		<key>TextSend</key>
		<string>འབུལ</string>
		<key>DangYuanEducationTitle</key>
		<string>ཏང་ཡོནསློབ་གསོ</string>
		<key>LearnTaskTitle</key>
		<string>སློབ་སྦྱོངལས་འགན</string>
		<key>DangYuanHeart</key>
		<string>ཏང་ཡོནབསམ་ཚུལ</string>
		<key>XuexiQingkuang</key>
		<string>སློབ་སྦྱོངགནས་ཚུལ</string>
		<key>RenWujianjie</key>
		<string>ལས་འགནངོ་སྤྲོད་མདོར་བསྡུས</string>
		<key>Yijianfankui</key>
		<string>བསམ་ཚུལལྡོག་འདྲེན</string>
		<key>XiangzengFankui</key>
		<string>འཕར་སྣོནལྡོག་འདྲེན</string>
		<key>FankuiXiangqing</key>
		<string>ལྡོག་འདྲེནཞིབ་ཆ</string>
		<key>XuexiXingDe</key>
		<string>སློབ་སྦྱོངམྱོང་ཚོར</string>
		<key>XindeXiangqing</key>
		<string>མྱོང་ཚོརཞིབ་ཆ</string>
		<key>KaoshiGuize</key>
		<string>རྒྱུགས་ལེནལམ་སྲོལ</string>
		<key>KaoshiDati</key>
		<string>རྒྱུགས་ལེནདྲིས་ལན་ཁ་བྱང</string>
		<key>DangyuanKaoshi</key>
		<string>ཏང་ཡོནརྒྱུགས་ལེན</string>
		<key>ZuijinChengji</key>
		<string>ཉེ་ལམགྲུབ་འབྲས</string>
		<key>Chengjiyouxiu</key>
		<string>ཁྱེད་ཀྱི་གྲུབ་འབྲས་ཕུལ་བྱུང་ཞུ་མུ་མཐུད་རྒྱུན་འཁྱོངས་呦</string>
		<key>LishiKaoshi</key>
		<string>ལོ་རྒྱུསརྒྱུགས་ལེན</string>
		<key>Daikaoshi</key>
		<string>རེ་སྒུགརྒྱུགས་ལེན</string>
		<key>KaoshiPaiming</key>
		<string>རྒྱུགས་ལེནགྲལ་སྟར་སྒྲིག་པ</string>
		<key>ZhengceFagui</key>
		<string>སྲིད་ཇུསཁྲིམས་སྲོལ</string>
		<key>XiangQing</key>
		<string>ཞིབ་ཆ</string>
		<key>Zuzhihuodong</key>
		<string>རྩ་འཛུགསབྱེད་སྒོ</string>
		<key>TongzhigongGao</key>
		<string>བརྡ་ཐོ</string>
		<key>ZixunXiangQing</key>
		<string>ཆ་འཕྲིནཞིབ་ཆ</string>
		<key>Gerenzhongxin</key>
		<string>མི་སྒེར</string>
		<key>HuoquJIfen</key>
		<string>ལག་སོནཆ་བསགས</string>
		<key>GerenXinxi</key>
		<string>མི་སྒེར་གྱི་ཆ་འཕྲིན</string>
		<key>XiugaiMima</key>
		<string>བཟོ་བཅོས་ཨང་ཡིག</string>
		<key>JifenJilu</key>
		<string>ཆ་བསགས་ཟིན་ཐོ</string>
		<key>Setting</key>
		<string>མི་སྒེར་གྱི་བཟོ་བཅོས</string>
		<key>Guanyu</key>
		<string>སྐོར</string>
		<key>loginTitle</key>
		<string>ཐོ་འཇུག་</string>
		<key>forgetPassword</key>
		<string>བརྗེད་ཨང་ཡིག</string>
		<key>zhanghao</key>
		<string>རྩིས་ཐོའི་ཨང་གྲངས</string>
		<key>mima</key>
		<string>གསང་བ</string>
		<key>zhanghaoError</key>
		<string>རྩིས་ཐོའི་ཨང་གྲངས་འམ་གསང་བའི་ནོར་འཁྲུལ</string>
		<key>iphonePlay</key>
		<string>ཁྱེད་ལ་ཁ་པར་བརྒྱབ་ནས</string>
		<key>chongzhi</key>
		<string>སྐོང་ལས་རེས</string>
		<key>weixuexi</key>
		<string>མེད་སློབ་སྦྱོང</string>
		<key>xuexizhong</key>
		<string>སློབ་སྦྱོང་བྱེད་པའི་ཁྲོད</string>
		<key>yixuexi</key>
		<string>ཟིན་པའི་སློབ་སྦྱོང</string>
		<key>tiao</key>
		<string>དོན་ཚན</string>
		<key>xueshi</key>
		<string>སློབ་ཁྲིད་དུས་ཡུན</string>
		<key>guanyukaoshi</key>
		<string>རྒྱུགས་ལེན་སློབ་སྦྱོང་བྱ་རྒྱུའི་གནད་དོན་སྐོར་གྱི་</string>
		<key>yijiejue</key>
		<string>སྤྲད་ཟིན་ཡང་</string>
		<key>jiejuezhong</key>
		<string>ཐག་གཅོད་བྱེད་པའི་ཁྲོད་དུ་</string>
		<key>yichuli</key>
		<string>ཐག་གཅོད་བྱས་ཟིན་</string>
		<key>wenzi</key>
		<string>ཡིག་དེབ་</string>
		<key>shiping</key>
		<string>བརྙན་ལམ་</string>
		<key>yingping</key>
		<string>སྒྲ་ཟློས་</string>
		<key>tupian</key>
		<string>པར་རིས་།</string>
		<key>renwuleixing</key>
		<string>ལས་འགན་།རིགས་དབྱེ་།</string>
		<key>xuexishixhang</key>
		<string>སློབ་སྦྱོང་གི་དུས་ཚོད་</string>
		<key>fenzhogn</key>
		<string>སྐར་མ་</string>
		<key>chaugnjianshijian</key>
		<string>གཏོད་པའི་དུས་ཚོད་</string>
		<key>jiazaizhong</key>
		<string>སྣོན་བཞིན་པ་</string>
		<key>pinglunchengong</key>
		<string>ཁྱབ་བསྒྲགས་བྱས་པའི་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>pinglunshibai</key>
		<string>དཔྱད་གཏམ་ཕམ་</string>
		<key>wodexiangfa</key>
		<string>ངའི་བསམ་ཚུལ་</string>
		<key>qingshuru</key>
		<string>ནང་འཇུག་...</string>
		<key>ningdewenti</key>
		<string>ཁྱེད་ལ་གནད་དོན་ཅི་ཞིག་ཡོད་དང་མི་མཚུངས་བའི་བསམ་ཚུལ་འདོད་།ང་ཚོར་མཚོན་ནས་བཤད་ན་ཡིན་ནམ་།</string>
		<key>ningdezhuti</key>
		<string>ཁྱེད་ཀྱི་བརྗོད་བྱ་གཙོ་བོ་</string>
		<key>ningdeyijian</key>
		<string>ཁྱེད་ཀྱི་བསམ་འཆར་རྩ་ཆེན་དག་ནི་ང་ཚོས་ཡར་ཐོན་ཡོང་བའི་འབྱུང་ཁུངས་ཡིན་</string>
		<key>ningdeyijianshuoming</key>
		<string>རོགས་།ཁྱེད་རང་ལ་འཕྲད་པའི་གནད་དོན་གྱི་གནས་ཚུལ་ཞིབ་པར་བཀོད་པ་ལ་དོགས་གཞི་དང་ཚེ་ང་ཚོས་གནས་ཕྱོགས་མྱུར་དུ་གཏན་ཁེལ་བྱེད་པ་མ་ཟད་ཐག་གཅོད་དང་།ཡང་ན་ཀྱིས་རྩ་ཆེ་བའི་བསམ་འཆར་རམ་གྲོས་འགོ་།ང་ཚོས་ནན་ཏན་གྱིས་ཚོད་སྐོར་།</string>
		<key>shurufankui</key>
		<string>རོགས་།ཁྱོད་ཀྱི་ཆ་འཕྲིན་ཕྱིར་འདྲེན་ནང་འཇུག་</string>
		<key>fabiaoxingdechenggong</key>
		<string>ཁྱབ་བསྒྲགས་བྱས་པའི་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>quanbuxingde</key>
		<string>བསམ་ཚུལ་ལ་དབང་བའི་</string>
		<key>wodexingde</key>
		<string>ངའི་བསམ་ཚུལ་</string>
		<key>pinglun</key>
		<string>དཔྱད་གཏམ་</string>
		<key>yikaoshi</key>
		<string>རྒྱུགས་ལེན་ལེགས་གྲུབ་</string>
		<key>yiwancheng</key>
		<string>ལེགས་གྲུབ་ཟིན་པ་།</string>
		<key>duohangshuru</key>
		<string>མང་ཕྲེང་ནང་འཇུག་</string>
		<key>danxuan</key>
		<string>གཅིག་བདམ་</string>
		<key>duoxuan</key>
		<string>མང་འདེམས་</string>
		<key>tiankong</key>
		<string>ནང་འཇུག་</string>
		<key>panduan</key>
		<string>བརྡར་ཤ་གཅོད་པ་།</string>
		<key>jieda</key>
		<string>སྐོར་གྱི་དྲི་བ་དྲིས་ལན་།</string>
		<key>ruhehuodejifen</key>
		<string>ཆ་བསགས་ཇི་ལྟར་བྱས་ནས་ལེན་</string>
		<key>chankanjifen</key>
		<string>ཆ་བསགས་ལ་བལྟ་བ་།</string>
		<key>huoqujilu</key>
		<string>ཟིན་ཐོ་ཐོབ་ཐབས་</string>
		<key>shurudangqianmima</key>
		<string>གསང་ཨང་རྙིང་པ་འགོད་རོགས་།</string>
		<key>shuruxingmima</key>
		<string>གསང་གྲངས་གསར་པ་འགོད་རོགས་།</string>
		<key>querenmima</key>
		<string>གསང་ཨང་ངོས་འཛིན་རོགས་།</string>
		<key>quxiao</key>
		<string>མེད་པ་བཟོ་རྒྱུ་།</string>
		<key>queding</key>
		<string>གཏན་འཁེལ་བྱ་རྒྱུ་</string>
		<key>zhaoping</key>
		<string>འདྲ་པར་</string>
		<key>xuanzezhaopianweizhi</key>
		<string>选取照片位置</string>
		<key>baocun</key>
		<string>ཉར་ཚགས་</string>
		<key>yuantu</key>
		<string>མ་རིས་</string>
		<key>dangyuanrequ</key>
		<string>ཏང་ཡོན་གླེང་མང་བའི་</string>
		<key>zuixingzixun</key>
		<string>དཔྱད་ཡིག་ཆ་འཕྲིན་གསར་ཤོས་</string>
		<key>renwumingcheng</key>
		<string>ལས་འགན་མིང་</string>
		<key>shichang</key>
		<string>དུས་ཡུན་རིང་ན་དྲན་རྒྱུ་མང་</string>
		<key>wentitijiao</key>
		<string>གནད་དོན་འདོན་ཆོག་</string>
		<key>fabioxingdeshibai</key>
		<string>ཕམ་ཁ་ཕུལ་</string>
		<key>dianzanchenggong</key>
		<string>ཚེག་མོས་མཐུན་བྱེད་ཀྱི་རྩོལ་བ་</string>
		<key>dao</key>
		<string>ནས་</string>
		<key>shengyu</key>
		<string>ལྷག་མ་</string>
		<key>ci</key>
		<string>ཐེངས</string>
		<key>jihui</key>
		<string>གོ་སྐབས</string>
		<key>fangqibencidati</key>
		<string>ཡིན་མིན་གཏན་ཁེལ་དོར་ནས་ཐེངས་འདི་འི་དྲིས་ལན་ཁ་བྱང་</string>
		<key>kaishikaoshi</key>
		<string>མགོ་བརྩམས་།རྒྱུགས་སྤྲོད་</string>
		<key>timu</key>
		<string>གནད་དོན་</string>
		<key>di</key>
		<string>བོད་ཡིག་པར་གཞིའི་</string>
		<key>shangyiti</key>
		<string>སྟེང་ནས་བརྗོད་བྱ་གཅིག་</string>
		<key>xiayiti</key>
		<string>འོག་ནས་བརྗོད་བྱ་གཅིག་</string>
		<key>yaowensudi</key>
		<string>གལ་ཆེའི་གསར་འགྱུར་མྱུར་སྐྱེལ་</string>
		<key>jifen</key>
		<string>ཆ་བསགས་</string>
		<key>tuichu</key>
		<string>ལས་འགྲོལ་</string>
		<key>lijigengxing</key>
		<string>འཕྲལ་མར་རིམ་སྤར་</string>
		<key>banbengengxin</key>
		<string>གསར་སྒྱུར་</string>
		<key>youxingbanbenxuyaogengxin</key>
		<string>པར་གཞི་གསར་བརྗེས་</string>
		<key>yizuixingbanben</key>
		<string>གསར་ཤོས་ནི་</string>
		<key>yiqiandao</key>
		<string>འབྱོར་ཐོ་བཀོད་ཟིན་</string>
		<key>tian</key>
		<string>ཉིན་</string>
		<key>qingjixubaochi</key>
		<string>མུ་མཐུད་རྒྱུན་འཁྱོངས་རོགས་</string>
		<key>anquantuichu</key>
		<string>བདེ་འཇགས་ལས་འགྲོལ་</string>
		<key>tuichushibai</key>
		<string>ཕམ་ནས་ཕྱིར་འཐེན་</string>
		<key>jinriqiandaorenshu</key>
		<string>གོང་ཚེས་ཉིན་སླེབས་ཐོ་མི་གྲངས་</string>
		<key>yijianchitianshu</key>
		<string>མཐའ་འཁྱོངས་།ཉིན་གྲངས་</string>
		<key>yilianxudakatianshu</key>
		<string>བསྟུད་མར་ཉིན་གྲངས་ལ་བྱང་བུ་རྒྱག་</string>
		<key>xiugai</key>
		<string>བཟོ་བཅོས་</string>
		<key>yonghutouxiang</key>
		<string>སྤྱོད་མཁན་གྱི་དབུ་བརྙན་</string>
		<key>zhengshixingming</key>
		<string>རུས་མིང་ངོ་མ་</string>
		<key>PhoneNum</key>
		<string>ལག་ཐོགས་ཁ་པར་གྱི་ཨང་གྲངས་</string>
		<key>sex</key>
		<string>ཕོ་མོའི་དབྱེ་བ་།</string>
		<key>nan</key>
		<string>ཕོ་།</string>
		<key>nv</key>
		<string>བུད་མེད་། </string>
		<key>wodezuoyouming</key>
		<string>ངའི་གྲུབ་འབྲས་</string>
		<key>wodedizhi</key>
		<string>ངའི་ས་གནས་</string>
		<key>xiugaitouxiang</key>
		<string>མགོ་བརྙན་བརྗེ</string>
		<key>dakixiangce</key>
		<string>ནས་ཁ་པར་པར་སྒམ་ཐོབ་ཐབས་</string>
		<key>dakaixiangji</key>
		<string>པར་ཆས་ཁ་ཕྱེ་། </string>
		<key>xuanzexiugaineirong</key>
		<string>བཟོ་བཅོས་རྒྱག་པའི་ནང་དོན་འདེམ་རོགས་།</string>
		<key>saveSuccess</key>
		<string>རྒན་འཁོག་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>saveError</key>
		<string>རྒན་འཁོག་ཕམ་</string>
		<key>shangchuanzhong</key>
		<string>ཡར་བསྐུར་ཁྲོད་</string>
		<key>bukexiugaixingming</key>
		<string>རུས་མིང་ངོ་མ་བཟོ་བཅོས་བརྒྱབ་མི་ཆོག་པ་</string>
		<key>tishi</key>
		<string>གསལ་འདེབས་།</string>
		<key>mimaxiugaichengong</key>
		<string>གསང་ཨང་བཟོ་བཅོས་ལེགས་འགྲུབ་བྱུང་</string>
		<key>mimaxiugaishibai</key>
		<string>བཟོ་བཅོས་གསང་ཨང་ཕམ་</string>
		<key>yuyanqiehuan</key>
		<string>སྐད་བརྡ་བརྗེ་བ་</string>
		<key>qiehuan</key>
		<string>བརྗེ་བ་། </string>
		<key>qinglichenggong</key>
		<string>གཙང་བཤེར་ལེགས་གྲུབ་</string>
		<key>gongxuqinglihuancun</key>
		<string>མཉམ་དགོས་པ་གཙང་བཤེར་缓存</string>
		<key>mimaguanli</key>
		<string>གསང་བའི་དོ་དམ</string>
		<key>wanshangerenxingxi</key>
		<string>ཆ་འཕྲིན་ལ་བལྟ་བ་</string>
		<key>weixinduanxinfangshi</key>
		<string>འཕྲིན་ཐུང་དང་འཕྲིན་ཐུང་སོགས་ཀྱི་རྣམ་པ</string>
		<key>qiandao</key>
		<string>བཟོ་བཅོས་གསང་ཨང་</string>
		<key>New item - 15</key>
		<string></string>
		<key>New item - 16</key>
		<string></string>
		<key>New item - 17</key>
		<string></string>
		<key>New item - 6</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
	</dict>
</dict>
</plist>
