<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zang</key>
	<dict>
		<key>NewsHomeTitle</key>
		<string>ཏང་ཡོན་གྱི་གསར་འགྱུར</string>
		<key>TextInputTitle</key>
		<string>ཤུལ་དུ་ཁྱོད་ཀྱི་བསམ་ཚུལ</string>
		<key>TextSend</key>
		<string>འབུལ</string>
		<key>DangYuanEducationTitle</key>
		<string>ཏང་ཡོནསློབ་གསོ</string>
		<key>LearnTaskTitle</key>
		<string>སློབ་སྦྱོངལས་འགན</string>
		<key>DangYuanHeart</key>
		<string>ཏང་ཡོནབསམ་ཚུལ</string>
		<key>XuexiQingkuang</key>
		<string>སློབ་སྦྱོངགནས་ཚུལ</string>
		<key>RenWujianjie</key>
		<string>ལས་འགནངོ་སྤྲོད་མདོར་བསྡུས</string>
		<key>Yijianfankui</key>
		<string>བསམ་ཚུལལྡོག་འདྲེན</string>
		<key>XiangzengFankui</key>
		<string>འཕར་སྣོནལྡོག་འདྲེན</string>
		<key>FankuiXiangqing</key>
		<string>ལྡོག་འདྲེནཞིབ་ཆ</string>
		<key>XuexiXingDe</key>
		<string>སློབ་སྦྱོངམྱོང་ཚོར</string>
		<key>XindeXiangqing</key>
		<string>མྱོང་ཚོརཞིབ་ཆ</string>
		<key>KaoshiGuize</key>
		<string>རྒྱུགས་ལེནལམ་སྲོལ</string>
		<key>KaoshiDati</key>
		<string>རྒྱུགས་ལེནདྲིས་ལན་ཁ་བྱང</string>
		<key>DangyuanKaoshi</key>
		<string>ཏང་ཡོནརྒྱུགས་ལེན</string>
		<key>ZuijinChengji</key>
		<string>ཉེ་ལམགྲུབ་འབྲས</string>
		<key>Chengjiyouxiu</key>
		<string>ཁྱེད་ཀྱི་གྲུབ་འབྲས་ཕུལ་བྱུང་ཞུ་མུ་མཐུད་རྒྱུན་འཁྱོངས་呦</string>
		<key>LishiKaoshi</key>
		<string>ལོ་རྒྱུསརྒྱུགས་ལེན</string>
		<key>Daikaoshi</key>
		<string>རེ་སྒུགརྒྱུགས་ལེན</string>
		<key>KaoshiPaiming</key>
		<string>རྒྱུགས་ལེནགྲལ་སྟར་སྒྲིག་པ</string>
		<key>ZhengceFagui</key>
		<string>སྲིད་ཇུསཁྲིམས་སྲོལ</string>
		<key>XiangQing</key>
		<string>ཞིབ་ཆ</string>
		<key>Zuzhihuodong</key>
		<string>རྩ་འཛུགསབྱེད་སྒོ</string>
		<key>TongzhigongGao</key>
		<string>བརྡ་ཐོ</string>
		<key>ZixunXiangQing</key>
		<string>ཆ་འཕྲིནཞིབ་ཆ</string>
		<key>Gerenzhongxin</key>
		<string>མི་སྒེར</string>
		<key>HuoquJIfen</key>
		<string>ལག་སོནཆ་བསགས</string>
		<key>GerenXinxi</key>
		<string>མི་སྒེར་གྱི་ཆ་འཕྲིན</string>
		<key>XiugaiMima</key>
		<string>བཟོ་བཅོས་ཨང་ཡིག</string>
		<key>JifenJilu</key>
		<string>ཆ་བསགས་ཟིན་ཐོ</string>
		<key>Setting</key>
		<string>མི་སྒེར་གྱི་བཟོ་བཅོས</string>
		<key>Guanyu</key>
		<string>སྐོར</string>
		<key>loginTitle</key>
		<string>ཐོ་འཇུག་</string>
		<key>forgetPassword</key>
		<string>བརྗེད་ཨང་ཡིག</string>
		<key>zhanghao</key>
		<string>རྩིས་ཐོའི་ཨང་གྲངས</string>
		<key>mima</key>
		<string>གསང་བ</string>
		<key>zhanghaoError</key>
		<string>རྩིས་ཐོའི་ཨང་གྲངས་འམ་གསང་བའི་ནོར་འཁྲུལ</string>
		<key>iphonePlay</key>
		<string>ཁྱེད་ལ་ཁ་པར་བརྒྱབ་ནས</string>
		<key>chongzhi</key>
		<string>སྐོང་ལས་རེས</string>
		<key>weixuexi</key>
		<string>མེད་སློབ་སྦྱོང</string>
		<key>xuexizhong</key>
		<string>སློབ་སྦྱོང་བྱེད་པའི་ཁྲོད</string>
		<key>yixuexi</key>
		<string>ཟིན་པའི་སློབ་སྦྱོང</string>
		<key>tiao</key>
		<string>དོན་ཚན</string>
		<key>xueshi</key>
		<string>སློབ་ཁྲིད་དུས་ཡུན</string>
		<key>guanyukaoshi</key>
		<string>རྒྱུགས་ལེན་སློབ་སྦྱོང་བྱ་རྒྱུའི་གནད་དོན་སྐོར་གྱི་</string>
		<key>yijiejue</key>
		<string>སྤྲད་ཟིན་ཡང་</string>
		<key>jiejuezhong</key>
		<string>ཐག་གཅོད་བྱེད་པའི་ཁྲོད་དུ་</string>
		<key>yichuli</key>
		<string>ཐག་གཅོད་བྱས་ཟིན་</string>
		<key>wenzi</key>
		<string>ཡིག་དེབ་</string>
		<key>shiping</key>
		<string>བརྙན་ལམ་</string>
		<key>yingping</key>
		<string>སྒྲ་ཟློས་</string>
		<key>tupian</key>
		<string>པར་རིས་།</string>
		<key>renwuleixing</key>
		<string>ལས་འགན་།རིགས་དབྱེ་།</string>
		<key>xuexishixhang</key>
		<string>སློབ་སྦྱོང་གི་དུས་ཚོད་</string>
		<key>fenzhogn</key>
		<string>སྐར་མ་</string>
		<key>chaugnjianshijian</key>
		<string>གཏོད་པའི་དུས་ཚོད་</string>
		<key>jiazaizhong</key>
		<string>སྣོན་བཞིན་པ་</string>
		<key>pinglunchengong</key>
		<string>ཁྱབ་བསྒྲགས་བྱས་པའི་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>pinglunshibai</key>
		<string>དཔྱད་གཏམ་ཕམ་</string>
		<key>wodexiangfa</key>
		<string>ངའི་བསམ་ཚུལ་</string>
		<key>qingshuru</key>
		<string>ནང་འཇུག་...</string>
		<key>ningdewenti</key>
		<string>ཁྱེད་ལ་གནད་དོན་ཅི་ཞིག་ཡོད་དང་མི་མཚུངས་བའི་བསམ་ཚུལ་འདོད་།ང་ཚོར་མཚོན་ནས་བཤད་ན་ཡིན་ནམ་།</string>
		<key>ningdezhuti</key>
		<string>ཁྱེད་ཀྱི་བརྗོད་བྱ་གཙོ་བོ་</string>
		<key>ningdeyijian</key>
		<string>ཁྱེད་ཀྱི་བསམ་འཆར་རྩ་ཆེན་དག་ནི་ང་ཚོས་ཡར་ཐོན་ཡོང་བའི་འབྱུང་ཁུངས་ཡིན་</string>
		<key>ningdeyijianshuoming</key>
		<string>རོགས་།ཁྱེད་རང་ལ་འཕྲད་པའི་གནད་དོན་གྱི་གནས་ཚུལ་ཞིབ་པར་བཀོད་པ་ལ་དོགས་གཞི་དང་ཚེ་ང་ཚོས་གནས་ཕྱོགས་མྱུར་དུ་གཏན་ཁེལ་བྱེད་པ་མ་ཟད་ཐག་གཅོད་དང་།ཡང་ན་ཀྱིས་རྩ་ཆེ་བའི་བསམ་འཆར་རམ་གྲོས་འགོ་།ང་ཚོས་ནན་ཏན་གྱིས་ཚོད་སྐོར་།</string>
		<key>shurufankui</key>
		<string>རོགས་།ཁྱོད་ཀྱི་ཆ་འཕྲིན་ཕྱིར་འདྲེན་ནང་འཇུག་</string>
		<key>fabiaoxingdechenggong</key>
		<string>ཁྱབ་བསྒྲགས་བྱས་པའི་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>quanbuxingde</key>
		<string>བསམ་ཚུལ་ལ་དབང་བའི་</string>
		<key>wodexingde</key>
		<string>ངའི་བསམ་ཚུལ་</string>
		<key>pinglun</key>
		<string>དཔྱད་གཏམ་</string>
		<key>yikaoshi</key>
		<string>རྒྱུགས་ལེན་ལེགས་གྲུབ་</string>
		<key>yiwancheng</key>
		<string>ལེགས་གྲུབ་ཟིན་པ་།</string>
		<key>duohangshuru</key>
		<string>མང་ཕྲེང་ནང་འཇུག་</string>
		<key>danxuan</key>
		<string>གཅིག་བདམ་</string>
		<key>duoxuan</key>
		<string>མང་འདེམས་</string>
		<key>tiankong</key>
		<string>ནང་འཇུག་</string>
		<key>panduan</key>
		<string>བརྡར་ཤ་གཅོད་པ་།</string>
		<key>jieda</key>
		<string>སྐོར་གྱི་དྲི་བ་དྲིས་ལན་།</string>
		<key>ruhehuodejifen</key>
		<string>ཆ་བསགས་ཇི་ལྟར་བྱས་ནས་ལེན་</string>
		<key>chankanjifen</key>
		<string>ཆ་བསགས་ལ་བལྟ་བ་།</string>
		<key>huoqujilu</key>
		<string>ཟིན་ཐོ་ཐོབ་ཐབས་</string>
		<key>shurudangqianmima</key>
		<string>གསང་ཨང་རྙིང་པ་འགོད་རོགས་།</string>
		<key>shuruxingmima</key>
		<string>གསང་གྲངས་གསར་པ་འགོད་རོགས་།</string>
		<key>querenmima</key>
		<string>གསང་ཨང་ངོས་འཛིན་རོགས་།</string>
		<key>quxiao</key>
		<string>མེད་པ་བཟོ་རྒྱུ་།</string>
		<key>queding</key>
		<string>གཏན་འཁེལ་བྱ་རྒྱུ་</string>
		<key>zhaoping</key>
		<string>འདྲ་པར་</string>
		<key>xuanzezhaopianweizhi</key>
		<string>选取照片位置</string>
		<key>baocun</key>
		<string>ཉར་ཚགས་</string>
		<key>yuantu</key>
		<string>མ་རིས་</string>
		<key>dangyuanrequ</key>
		<string>ཏང་ཡོན་གླེང་མང་བའི་</string>
		<key>zuixingzixun</key>
		<string>དཔྱད་ཡིག་ཆ་འཕྲིན་གསར་ཤོས་</string>
		<key>renwumingcheng</key>
		<string>ལས་འགན་མིང་</string>
		<key>shichang</key>
		<string>དུས་ཡུན་རིང་ན་དྲན་རྒྱུ་མང་</string>
		<key>wentitijiao</key>
		<string>གནད་དོན་འདོན་ཆོག་</string>
		<key>fabioxingdeshibai</key>
		<string>ཕམ་ཁ་ཕུལ་</string>
		<key>dianzanchenggong</key>
		<string>ཚེག་མོས་མཐུན་བྱེད་ཀྱི་རྩོལ་བ་</string>
		<key>dao</key>
		<string>ནས་</string>
		<key>shengyu</key>
		<string>ལྷག་མ་</string>
		<key>ci</key>
		<string>ཐེངས</string>
		<key>jihui</key>
		<string>གོ་སྐབས</string>
		<key>fangqibencidati</key>
		<string>ཡིན་མིན་གཏན་ཁེལ་དོར་ནས་ཐེངས་འདི་འི་དྲིས་ལན་ཁ་བྱང་</string>
		<key>kaishikaoshi</key>
		<string>མགོ་བརྩམས་།རྒྱུགས་སྤྲོད་</string>
		<key>timu</key>
		<string>གནད་དོན་</string>
		<key>di</key>
		<string>བོད་ཡིག་པར་གཞིའི་</string>
		<key>shangyiti</key>
		<string>སྟེང་ནས་བརྗོད་བྱ་གཅིག་</string>
		<key>xiayiti</key>
		<string>འོག་ནས་བརྗོད་བྱ་གཅིག་</string>
		<key>yaowensudi</key>
		<string>གལ་ཆེའི་གསར་འགྱུར་མྱུར་སྐྱེལ་</string>
		<key>jifen</key>
		<string>ཆ་བསགས་</string>
		<key>tuichu</key>
		<string>ལས་འགྲོལ་</string>
		<key>lijigengxing</key>
		<string>འཕྲལ་མར་རིམ་སྤར་</string>
		<key>banbengengxin</key>
		<string>གསར་སྒྱུར་</string>
		<key>youxingbanbenxuyaogengxin</key>
		<string>པར་གཞི་གསར་བརྗེས་</string>
		<key>yizuixingbanben</key>
		<string>གསར་ཤོས་ནི་</string>
		<key>yiqiandao</key>
		<string>འབྱོར་ཐོ་བཀོད་ཟིན་</string>
		<key>tian</key>
		<string>ཉིན་</string>
		<key>qingjixubaochi</key>
		<string>མུ་མཐུད་རྒྱུན་འཁྱོངས་རོགས་</string>
		<key>anquantuichu</key>
		<string>བདེ་འཇགས་ལས་འགྲོལ་</string>
		<key>tuichushibai</key>
		<string>ཕམ་ནས་ཕྱིར་འཐེན་</string>
		<key>jinriqiandaorenshu</key>
		<string>གོང་ཚེས་ཉིན་སླེབས་ཐོ་མི་གྲངས་</string>
		<key>yijianchitianshu</key>
		<string>མཐའ་འཁྱོངས་།ཉིན་གྲངས་</string>
		<key>yilianxudakatianshu</key>
		<string>བསྟུད་མར་ཉིན་གྲངས་ལ་བྱང་བུ་རྒྱག་</string>
		<key>xiugai</key>
		<string>བཟོ་བཅོས་</string>
		<key>yonghutouxiang</key>
		<string>སྤྱོད་མཁན་གྱི་དབུ་བརྙན་</string>
		<key>zhengshixingming</key>
		<string>རུས་མིང་ངོ་མ་</string>
		<key>PhoneNum</key>
		<string>ལག་ཐོགས་ཁ་པར་གྱི་ཨང་གྲངས་</string>
		<key>sex</key>
		<string>ཕོ་མོའི་དབྱེ་བ་།</string>
		<key>nan</key>
		<string>ཕོ་།</string>
		<key>nv</key>
		<string>བུད་མེད་། </string>
		<key>wodezuoyouming</key>
		<string>ངའི་གྲུབ་འབྲས་</string>
		<key>wodedizhi</key>
		<string>ངའི་ས་གནས་</string>
		<key>xiugaitouxiang</key>
		<string>མགོ་བརྙན་བརྗེ</string>
		<key>dakixiangce</key>
		<string>ནས་ཁ་པར་པར་སྒམ་ཐོབ་ཐབས་</string>
		<key>dakaixiangji</key>
		<string>པར་ཆས་ཁ་ཕྱེ་། </string>
		<key>xuanzexiugaineirong</key>
		<string>བཟོ་བཅོས་རྒྱག་པའི་ནང་དོན་འདེམ་རོགས་།</string>
		<key>saveSuccess</key>
		<string>རྒན་འཁོག་གྲུབ་འབྲས་ཐོབ་པའི་ངང་</string>
		<key>saveError</key>
		<string>རྒན་འཁོག་ཕམ་</string>
		<key>shangchuanzhong</key>
		<string>ཡར་བསྐུར་ཁྲོད་</string>
		<key>bukexiugaixingming</key>
		<string>རུས་མིང་ངོ་མ་བཟོ་བཅོས་བརྒྱབ་མི་ཆོག་པ་</string>
		<key>tishi</key>
		<string>གསལ་འདེབས་།</string>
		<key>mimaxiugaichengong</key>
		<string>གསང་ཨང་བཟོ་བཅོས་ལེགས་འགྲུབ་བྱུང་</string>
		<key>mimaxiugaishibai</key>
		<string>བཟོ་བཅོས་གསང་ཨང་ཕམ་</string>
		<key>yuyanqiehuan</key>
		<string>སྐད་བརྡ་བརྗེ་བ་</string>
		<key>qiehuan</key>
		<string>བརྗེ་བ་། </string>
		<key>qinglichenggong</key>
		<string>གཙང་བཤེར་ལེགས་གྲུབ་</string>
		<key>gongxuqinglihuancun</key>
		<string>མཉམ་དགོས་པ་གཙང་བཤེར་缓存</string>
		<key>mimaguanli</key>
		<string>གསང་བའི་དོ་དམ</string>
		<key>wanshangerenxingxi</key>
		<string>ཆ་འཕྲིན་ལ་བལྟ་བ་</string>
		<key>weixinduanxinfangshi</key>
		<string>འཕྲིན་ཐུང་དང་འཕྲིན་ཐུང་སོགས་ཀྱི་རྣམ་པ</string>
		<key>qiandao</key>
		<string>བཟོ་བཅོས་གསང་ཨང་</string>
		<key>qiandaojilu</key>
		<string>འབྱོར་ཐོ་འགོད་པའི་ཟིན་ཐོ</string>
		<key>New item - 16</key>
		<string></string>
		<key>New item - 17</key>
		<string></string>
		<key>New item - 6</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
	</dict>
	<key>Han</key>
	<dict>
		<key>NewsHomeTitle</key>
		<string>党员资讯</string>
		<key>TextInputTitle</key>
		<string>留下你的心声，带给别人更多启发，这也是学习！</string>
		<key>TextSend</key>
		<string>发送</string>
		<key>DangYuanEducationTitle</key>
		<string>党员教育</string>
		<key>LearnTaskTitle</key>
		<string>学习任务</string>
		<key>DangYuanHeart</key>
		<string>党员心声</string>
		<key>XuexiQingkuang</key>
		<string>学习情况</string>
		<key>RenWujianjie</key>
		<string>任务简介</string>
		<key>Yijianfankui</key>
		<string>意见反馈</string>
		<key>XiangzengFankui</key>
		<string>新增反馈</string>
		<key>FankuiXiangqing</key>
		<string>反馈详情</string>
		<key>XuexiXingDe</key>
		<string>学习心得</string>
		<key>XindeXiangqing</key>
		<string>心得详情</string>
		<key>KaoshiGuize</key>
		<string>考试规则</string>
		<key>KaoshiDati</key>
		<string>考试答题</string>
		<key>DangyuanKaoshi</key>
		<string>党员考试</string>
		<key>ZuijinChengji</key>
		<string>最近成绩</string>
		<key>Chengjiyouxiu</key>
		<string>您的成绩优秀，请继续保持呦!</string>
		<key>LishiKaoshi</key>
		<string>历史考试</string>
		<key>Daikaoshi</key>
		<string>待考试</string>
		<key>KaoshiPaiming</key>
		<string>考试排名</string>
		<key>ZhengceFagui</key>
		<string>政策法规</string>
		<key>XiangQing</key>
		<string>详情</string>
		<key>Zuzhihuodong</key>
		<string>组织活动</string>
		<key>TongzhigongGao</key>
		<string>通知公告</string>
		<key>ZixunXiangQing</key>
		<string>资讯详情</string>
		<key>Gerenzhongxin</key>
		<string>个人中心</string>
		<key>HuoquJIfen</key>
		<string>获取积分</string>
		<key>GerenXinxi</key>
		<string>个人信息</string>
		<key>XiugaiMima</key>
		<string>修改密码</string>
		<key>JifenJilu</key>
		<string>积分记录</string>
		<key>Setting</key>
		<string>设置</string>
		<key>Guanyu</key>
		<string>关于</string>
		<key>loginTitle</key>
		<string>登录</string>
		<key>forgetPassword</key>
		<string>忘记密码</string>
		<key>zhanghao</key>
		<string>账号/手机号</string>
		<key>mima</key>
		<string>密码</string>
		<key>zhanghaoError</key>
		<string>账号或密码错误</string>
		<key>iphonePlay</key>
		<string>请拨打</string>
		<key>chongzhi</key>
		<string>充值</string>
		<key>weixuexi</key>
		<string>未学习</string>
		<key>xuexizhong</key>
		<string>学习中</string>
		<key>yixuexi</key>
		<string>已学习</string>
		<key>tiao</key>
		<string>条</string>
		<key>xueshi</key>
		<string>学时</string>
		<key>guanyukaoshi</key>
		<string>关于考试学习的问题</string>
		<key>yijiejue</key>
		<string>已解决</string>
		<key>jiejuezhong</key>
		<string>解决中</string>
		<key>yichuli</key>
		<string>已处理</string>
		<key>wenzi</key>
		<string>文字</string>
		<key>shiping</key>
		<string>视频</string>
		<key>yingping</key>
		<string>音频</string>
		<key>tupian</key>
		<string>图片</string>
		<key>renwuleixing</key>
		<string>任务类别</string>
		<key>xuexishixhang</key>
		<string>学习时长</string>
		<key>fenzhogn</key>
		<string>分钟</string>
		<key>chaugnjianshijian</key>
		<string>创建时间</string>
		<key>jiazaizhong</key>
		<string>加载中</string>
		<key>pinglunchengong</key>
		<string>评论发表成功！</string>
		<key>pinglunshibai</key>
		<string>评论发表失败！</string>
		<key>wodexiangfa</key>
		<string>我的想法</string>
		<key>qingshuru</key>
		<string>请输入...</string>
		<key>ningdewenti</key>
		<string>您有什么问题或建议想对我们说？</string>
		<key>ningdezhuti</key>
		<string>您的主题</string>
		<key>ningdeyijian</key>
		<string>您的宝贵意见，就是我们进步的源泉</string>
		<key>ningdeyijianshuoming</key>
		<string>请详细描述您遇到的问题或疑问，有助于我们快速定位并解决，或留下您宝贵的意见或建议，我们会认真进行评估！</string>
		<key>shurufankui</key>
		<string>请输入你的反馈信息</string>
		<key>fabiaoxingdechenggong</key>
		<string>发表心得成功</string>
		<key>quanbuxingde</key>
		<string>全部心得</string>
		<key>wodexingde</key>
		<string>我的心得</string>
		<key>pinglun</key>
		<string>评论</string>
		<key>yikaoshi</key>
		<string>已考试</string>
		<key>yiwancheng</key>
		<string>已完成</string>
		<key>duohangshuru</key>
		<string>多行输入</string>
		<key>danxuan</key>
		<string>单选</string>
		<key>duoxuan</key>
		<string>多选</string>
		<key>tiankong</key>
		<string>填空</string>
		<key>panduan</key>
		<string>判断</string>
		<key>jieda</key>
		<string>简答</string>
		<key>ruhehuodejifen</key>
		<string>如何获取积分?</string>
		<key>chankanjifen</key>
		<string>查看积分</string>
		<key>huoqujilu</key>
		<string>获取记录</string>
		<key>shurudangqianmima</key>
		<string>请输入当前密码</string>
		<key>shuruxingmima</key>
		<string>请输入新密码</string>
		<key>querenmima</key>
		<string>请确认新密码</string>
		<key>quxiao</key>
		<string>取消</string>
		<key>queding</key>
		<string>确定</string>
		<key>zhaoping</key>
		<string>照片</string>
		<key>xuanzezhaopianweizhi</key>
		<string>选取照片位置</string>
		<key>baocun</key>
		<string>保存</string>
		<key>yuantu</key>
		<string>原图</string>
		<key>dangyuanrequ</key>
		<string>党员热区</string>
		<key>zuixingzixun</key>
		<string>最新资讯</string>
		<key>renwumingcheng</key>
		<string>任务名称</string>
		<key>shichang</key>
		<string>时长</string>
		<key>wentitijiao</key>
		<string>问题提交</string>
		<key>fabioxingdeshibai</key>
		<string>发表心得失败</string>
		<key>dianzanchenggong</key>
		<string>点赞成功</string>
		<key>dao</key>
		<string>到</string>
		<key>shengyu</key>
		<string>剩余</string>
		<key>ci</key>
		<string>次</string>
		<key>jihui</key>
		<string>机会</string>
		<key>fangqibencidati</key>
		<string>是否确定放弃本次答题？</string>
		<key>kaishikaoshi</key>
		<string>开始考试</string>
		<key>timu</key>
		<string>题</string>
		<key>di</key>
		<string>第</string>
		<key>shangyiti</key>
		<string>上一题</string>
		<key>xiayiti</key>
		<string>下一题</string>
		<key>yaowensudi</key>
		<string>要闻速递</string>
		<key>jifen</key>
		<string>积分</string>
		<key>tuichu</key>
		<string>退出</string>
		<key>lijigengxing</key>
		<string>立即升级</string>
		<key>banbengengxin</key>
		<string>版本更新</string>
		<key>youxingbanbenxuyaogengxin</key>
		<string>更新版本</string>
		<key>yizuixingbanben</key>
		<string>已最新版</string>
		<key>yiqiandao</key>
		<string>已签到</string>
		<key>tian</key>
		<string>天</string>
		<key>qingjixubaochi</key>
		<string>请继续保持呦！</string>
		<key>anquantuichu</key>
		<string>安全退出</string>
		<key>tuichushibai</key>
		<string>退出失败</string>
		<key>jinriqiandaorenshu</key>
		<string>今日签到人数</string>
		<key>yijianchitianshu</key>
		<string>已坚持天数</string>
		<key>yilianxudakatianshu</key>
		<string>已连续打卡天数</string>
		<key>xiugai</key>
		<string>修改</string>
		<key>yonghutouxiang</key>
		<string>用户头像</string>
		<key>zhengshixingming</key>
		<string>真实姓名</string>
		<key>PhoneNum</key>
		<string>手机号码</string>
		<key>sex</key>
		<string>性别</string>
		<key>nan</key>
		<string>男</string>
		<key>nv</key>
		<string>女</string>
		<key>wodezuoyouming</key>
		<string>我的座右铭</string>
		<key>wodedizhi</key>
		<string>我的地址</string>
		<key>xiugaitouxiang</key>
		<string>修改头像</string>
		<key>dakixiangce</key>
		<string>从手机相册获取</string>
		<key>dakaixiangji</key>
		<string>打开照相机</string>
		<key>xuanzexiugaineirong</key>
		<string>请选择修改内容</string>
		<key>saveSuccess</key>
		<string>数据保存成功</string>
		<key>saveError</key>
		<string>数据保存失败</string>
		<key>shangchuanzhong</key>
		<string>上传中</string>
		<key>bukexiugaixingming</key>
		<string>不可修改真实姓名</string>
		<key>tishi</key>
		<string>提示</string>
		<key>mimaxiugaichengong</key>
		<string>密码修改成功</string>
		<key>mimaxiugaishibai</key>
		<string>密码修改失败</string>
		<key>yuyanqiehuan</key>
		<string>语言切换</string>
		<key>qiehuan</key>
		<string>切换</string>
		<key>qinglichenggong</key>
		<string>清理完成</string>
		<key>gongxuqinglihuancun</key>
		<string>共需清理缓存</string>
		<key>mimaguanli</key>
		<string>密码管理</string>
		<key>wanshangerenxingxi</key>
		<string>查看信息</string>
		<key>weixinduanxinfangshi</key>
		<string>修改密码</string>
		<key>qiandao</key>
		<string>签到</string>
		<key>qiandaojilu</key>
		<string>签到记录</string>
		<key>New item</key>
		<string></string>
		<key>New item - 16</key>
		<string></string>
		<key>New item - 17</key>
		<string></string>
		<key>New item - 6</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
	</dict>
</dict>
</plist>
